.shareroad_card {
    background-color: beige;
    outline: 1px solid black;
    padding: 15px;
    width: 500px;
    margin: auto;
}
.createCarpool{
    background-color: beige;
    outline: 1px solid black;
    padding: 15px;
    width: 500px;
    margin: auto;
}
