.event-card {
    background-color: beige;
    outline: 1px solid black;
}

.trail-card {
    background-color: mediumaquamarine;
    outline: 1px solid black;
}

.weather-component {
    background-color: cornflowerblue;
    outline: 3px solid black;
}
