.event-card {
    background-color: beige;
    outline: 1px solid black;
}

.trail-card {
    background-color: mediumaquamarine;
    outline: 1px solid black;
}

.weather-component {
    background-color: cornflowerblue;
    outline: 3px solid black;
}

.create_event_container {
    background-color: cornflowerblue;
    outline: 3px solid black;
    padding: 10px;
}

.event-details-card {
    background-color: rgb(164, 248, 220);
    outline: 3px solid black;
    padding: 10px;
}

.trail-details-card {
    background-color: rgb(112, 123, 189);
    outline: 3px solid black;
    padding: 10px;
}
