/*=========================== Main =================================*/
*{
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
}
#body{
    background:#177980;
    height: 100vh;
}
#body p,h1,h2,h4,h5{
    font-family: Ysabeau,sans-serif;
}
body,ul{
    list-style: none;
} 
#layout{
    margin-top: 85px;
}
#layout a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
 a{
    text-decoration: none;
}
/* Weather icons*/
.weather-icon {
    width: 100%;
    height: 100%;
}
/*=== Button ===*/
.btn-primary {
    --bs-btn-bg: #177980!important;
    --bs-btn-border-color:#177980!important;
    --bs-btn-hover-bg: #0ebc89!important;
    --bs-btn-hover-border-color:#0ebc89 !important;
    color: white !important ;
}
.card{
    max-width: 80%;
    background-color: #e6dcaa !important;
    margin: auto;
}
.card-title>a{
    color: white!important;
}
/* ====  Navbar  === */
.navbar > .container-fluid{
    background-color: #5ac9a7!important; 
    justify-content: space-between !important;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.349);
    margin-top: 84px;
    position: fixed;
    height: 100px;
    z-index: 1;
}
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-between;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color:white;
    font-size: 20px;
    font-family: Ysabeau,sans-serif;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    text-decoration: underline;
}
/* ====  Footer === */
footer{
position:absolute;
bottom: -10;
width: 100%;
display: flex;
justify-content:center;
align-items:center ;
background-color: #06c0ce; 
}
footer ul {
    width: 40%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.card-header{
    background-color: #177980 !important;
    color: white !important;
}
.card-body{
    background-color: #fff6cb !important;
}
/*========================================================*/

.heading{
    width: 100%;
    height: 500px;
    background-image: url('../images/pictures/Mullerthal.png' );
    background-size: cover;
    background-color: #177980;
    margin: auto;
    font-family: lobster,sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    display: grid;
    align-content: center;
}
.heading>h1{
    font-size: 75px;
}


