/*=========================== Main =================================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
#body {
    background: #177980;
    font-family: 'Mukta', sans-serif;
}
#body h2,
h3,
h4,
h5 {
    font-family: 'Mukta', sans-serif;
    color: white;
}
body,
ul {
    list-style: none;
}
#layout {
    margin-top: 75px;
}
#layout a {
    text-decoration: none;
    color: #177980
}
a {
    text-decoration: none;
}
/* Weather icons*/
.weather-icon {
    width: 100%;
    height: 100%;
}
/*=== Button ===*/
.btn-primary {
    --bs-btn-bg: #177980 !important;
    --bs-btn-border-color: #177980 !important;
    --bs-btn-hover-bg: #0ebc89 !important;
    --bs-btn-hover-border-color: #0ebc89 !important;
    color: white !important ;
    margin: 10px !important;
}
.card {
    margin: 10px auto;
    max-width: 90%;
    padding: 20px;
}
.card-header {
    text-align: center;
}
.card-header a {
    color: white !important;
}

.card-title > a {
    color: white !important;
}
/* ====  Navbar  === */

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-between;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    font-size: 16px;
    font-family: 'Mukta', sans-serif;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    text-decoration: underline;
}
.navbar > .container-fluid {
    background-color: #5ac9a7 !important;
    justify-content: space-between !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.349);
    margin-top: 74px;
    position: fixed;
    height: 90px;
    border-bottom: solid 9px #17797F;
    border-top: solid 9px #5ac9a7;
    z-index: 99;
}

.navbar-brand img {
    width: 145px;
    margin-top: 73px;
}

li.nav-item {
    padding: 0 30px;
}

ul.navbar-nav {
    margin: auto;
}

div.nav-item {
    position: relative;
    right: 0;
    height: 40%;
    width: 20%;
    display: table;
}

div.nav-item a, div.nav-item span {
    color: #FFF;
    text-decoration: none;
    vertical-align: middle;
    margin: 3px 3px;
}

div.nav-item span {
    display: block;
}

div.nav-item a {
    background-color: #177980;
    padding: 3px 12px 3px 25px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
}

i.fa-solid.fa-user.fa-xl {
    position: absolute;
    left: 6px;
    bottom: 13px;
    font-size: 12px;
}

i.fa-solid.fa-right-from-bracket {
    position: absolute;
    left: 6px;
    bottom: 8px;
    font-size: 12px;
}

/* ====  Footer === */
footer {
    position: absolute;
    bottom: -10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5ac9a7;
}
footer p {
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    padding-bottom: 10px !important;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

footer li {
    width: 25px;
    text-align: center;
}

footer ul {
    width: 21%;
    margin: auto;
    height: 80px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
/* === Cards === */
.card-header {
    background-color: #5ac9a7 !important;
    padding: 10px !important;
    color: white !important;
}

div.card-body{
    background-color: #ffffff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.349);
    text-align: center;
}
.card-title{
    color: #17797F !important;
    text-align: center;
}
.card-box{
    max-width: 600px;
    margin-bottom: 10px;
}
span.page-link {
    border-color: #0ebc89;
}
/*========================================================*/

.heading {
    width: 100%;
    height: 300px;
    background-image: url("../images/pictures/Mullerthal.png");
    background-size: cover;
    background-color: #177980;
    margin: auto;
    /*font-size: 1rem;*/
    color: white;
    text-align: center;
    display: grid;
    align-content: center;
    overflow: hidden;
}
.heading h1 {
    /*font-size: 75px;*/
}

.heading h1 span {
    font-family: 'Kaushan Script', cursive;
    padding-right: 5px;
}

#title {
    background-color: rgba(0,0,0,.4);
    width: 100%;
    padding: 8% 0px;
    margin: auto;
}



/** 
/Index Page Cards
**/

#index-card-container .card {
    flex: 1;
    /* You might want to add some padding or margin for visual spacing between cards */
    /*margin: auto;*/
    min-width: 80%;
    /* If you want the content to take full height, this can be used */
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.349);
    }

/**************************** Responsive Break point (mobile)***************************************/
@media screen and (max-width: 480px){ 
    ul.navbar{
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        display: none;
    }
    div.nav-item span {
        display: hidden;
    }
    .navbar-brand img{
        width: 60px;
        margin-top: 0;
    }
    footer ul {
        width: 100%;
    }

}


/**************************** Responsive Break point (Tablet)***************************************/


